# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
*.env

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Docker
*.pid
*.seed
*.pid.lock

# Others
*.sqlite3
*.db
*.bak
*.swp
